.introduction{
    font-family: Arial;
    font-style: normal;
    color: wheat;
    font-size: 50px;
}
.sub-header{
    font-family: Arial;
    font-style: normal;
    color: #f8eeda;
}
}
.sample-results{
    font-family: Arial;
    font-style: normal;
    color: wheat;
    /* font-size: 50px; */
}

.intro-body{
    font-size: 17px;
    font-family: Arial;
    color: white;
    margin-top: 8px;
    line-height: 1.5;

}

.link-to-paper1{
    color: aqua;
}

.sample-div{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.sample{
    width: 256px;
    height: 256px;
    margin: 32px;
    flex: 1;
}

.sample-desc{
    color: white;
    display: block;
    text-align: center
}

.symbol-math{
    color:chartreuse;
}

.kaggle-img{
    width: 100%;
    display: block;
    margin: 8px;
}

.swish-layer-div{
    display: flex;
    flex-direction: row;
}

.swish-layer-body{
    flex: 1;
    margin: 16px;
    font-size: 17px;
    font-family: Arial;
    color: white;
    line-height: 1.5;
}
.swish-layer-img{
    width: 200px;
    margin: 16px;
}

.paper-newtwork-img{
    width: 500px;
    margin: 16px;
}