.profile{
    display:flex;
    margin: auto 10%;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}
.profile>h1{
 margin: 5% auto;
 font-size: 1.5em;
}
.profile-pic>img {
    border-radius: 50%;
}
.social-container {
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    width: 20vw;
}
  
.social-container>a {
    border: 1px solid var(--solid-black);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    font-size:1.5em;
    height: 5vw;
    width: 5vw;
}

#s-li:hover {
    filter: invert(35%) sepia(13%) saturate(2571%) hue-rotate(166deg)
    brightness(85%) contrast(100%);
    animation: straightUp 0.4s forwards;
}
  
#s-g:hover {
    filter: invert(25%) sepia(96%) saturate(4592%) hue-rotate(341deg)
    brightness(90%) contrast(84%);
    animation: straightUp 0.4s forwards;
}

#s-gh:hover {
    filter: invert(40%) sepia(13%) saturate(2208%) hue-rotate(232.7deg) 
    brightness(93%) contrast(92%);
    animation: straightUp 0.4s forwards;
}
.quote{
    margin-left: 15%;
}
.quote>h1{
    word-wrap: normal;
    font-size:1.5em;
}
#profs{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    margin: 15%;
}
