
.introduction{
    font-family: Arial;
    font-style: normal;
}
.sub-header{
    font-family: Arial;
    font-style: normal;
    margin: auto auto;
    font-size: 1.8em;
}

.sample-results{
    font-family: Arial;
    font-style: normal;
    margin: auto auto;
}

.intro-body{
    font-family: Arial;
    margin-top: 8px;
    line-height: 1.5;
}

.link-to-paper1{
    color: aqua;
}

.sample-div{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    font-size: 0.9em;
}

.sample{
    width: 80%;
    align-self: center;
    margin: 3% auto;
}
.sampleHolder{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.sample-desc{
    display: flex;
    text-align: center
}

.symbol-math{
    color:chartreuse;
}

.kaggle-img{
    width: 100%;
    display: block;
    margin: 8px;
}

.swish-layer-div{
    display: flex;
    flex-direction: row;
}

.swish-layer-body{
    flex: 1;
    margin: 16px;
    font-family: Arial;
    line-height: 1.5;
}
.swish-layer-img{
    width: 50%;
    /*margin: 16px;*/
}

.paper-newtwork-img{
    /*margin: 16px;*/
    border-radius: 15%;
}
.paper-newtworkHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-contents-item{
    padding: 32px;
    text-decoration: none;
    background-image: var(--color-grad-main);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 1.1em;
}