<!DOCTYPE html> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="images/x-icon" href="{{ url_for('static', filename='images/newLogo.png') }}">
    <title>Lawnly - About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="https://kit.fontawesome.com/0c7c27ff53.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.16.2/dist/tsparticles.min.js" integrity="sha256-2Sly/Hf9UP7YBu6LEPpn/6rxMZR5EeGq89mBa4G5+YA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
</head>

<body class="dark-mode" onload="detectTheme()" style="height:fit-content;" onresize="setupfont()">
    <nav>
        <div style="display:flex ;">
            <a class="nav-logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/newLogo.png') }}" alt="Lawnly"></a>
            <h1>Lawnly</h1>
        </div>

        <div class="nav_elements">
            <ul>
                <li><a class="not-active" href="{{ url_for('index') }}">Home</a></li>
                <li><a class="active" href="{{ url_for('about_us') }}">About Us</a></li>
                <li><a class="not-active" href="{{ url_for('about_model') }}">About The Model</a></li>
                <li><a class="not-active" href="https://github.com/Ahmed23Adel/Lawnly" target="_blank">GitHub</a></li>
                <li><a id="Bug" title="Report Bug or Suggestion" target="_blank"  href="https://forms.gle/8UVbSL1FS5ghQU3g6"><i class="fa fa-bug"></i></a></li>
                <li><i id="animate" title="Control Animation" class="fa fa-spinner fa-spin" onclick="Animate()"></i></li>
                <li><i id="theme-toggler" title="Control Theme" class="fa fa-sun" aria-hidden="true" onclick="toggler()"></i></li>
            </ul>
        </div>
    </nav>
    <div class="BackGround_Image" >
        <div class="index_Bg" >
            <div id="particle-container"></div>
            <div class="quote">
                <h1 >“You don't learn to walk by following rules. You learn by doing, and by falling over.”― Richard Branson</h1>
            </div>

            <div id="profs" onload="setupprofs()">
                    <div class="profile">
                        <h1>Ahmed Adel</h1>
                        <div class="profile-pic">
                            <img src="{{ url_for('static', filename='images/Adel.jpg') }}" alt="">
                        </div>
                        <div class="social-container">
                            <a id="s-li" href="https://www.linkedin.com/in/ahmed23adel/" target="_blank" class="social bouncy"><img src="{{ url_for('static', filename='images/i_linkedin.svg') }}" alt=""></a>
                            <a id="s-g" href="https://mail.google.com/mail/?view=cm&fs=1&to=s-ahmed.abdelmohsen@zewailcity.edu.eg" target="_blank" class="social bouncy"><img src="{{ url_for('static', filename='images/i_gmail.svg') }}" alt=""></a>
                            <a id="s-gh" href="https://github.com/Ahmed23Adel/" target="_blank" class="social bouncy"><img src="{{ url_for('static', filename='images/i_github.svg') }}" alt=""></a>
                        </div>
                    </div>
        
                    <div class="profile">
                        <h1>Omar Emad</h1>
                        <div class="profile-pic">
                            <img src="{{ url_for('static', filename='images/Omar.jpg') }}" alt="">
                        </div>
                        <div  class="social-container" >
                            <a id="s-li" href="https://www.linkedin.com/in/omar-emad-9b2790229/" target="_blank" class="social bouncy"><img src="{{ url_for('static', filename='images/i_linkedin.svg') }}" alt=""></a>
                            <a id="s-g" href="https://mail.google.com/mail/?view=cm&fs=1&to=s-omar.emad@zewailcity.edu.eg" target="_blank" class="social bouncy"><img src="{{ url_for('static', filename='images/i_gmail.svg') }}" alt=""></a>
                            <a id="s-gh" href="https://github.com/The-Sad-Zewalian/" target="_blank" class="social bouncy"><img src="{{ url_for('static', filename='images/i_github.svg') }}"" alt=""></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</body>


<script>
  /* ---- tsparticles config ---- */
  tsParticles.load("particle-container",
      {
      fpsLimit: 30,
      backgroundMode: {
        enable: true,
        zIndex: 0
      },
      particles: {
        number: {
          value: 100,
          density: {
            enable: true,
            area: 800
          }
        },
        color: {
          value: ["#ab0bd3", "#cf18fd", "#ef3aff"],
          animation: {
            enable: true,
            speed: 1,
            sync: true
          }
        },
        shape: {
          type: "circle",
          options: {
            polygon: {
              sides: 6
            },
            image: {
              src: "https://cdn.matteobruni.it/images/particles/github.svg",
              width: 100,
              height: 100
            }
          }
        },
        stroke: {
          width: 0
        },
        opacity: {
          value: 0.5,
          random: false,
          animation: {
            enable: false,
            speed: 1,
            minimumValue: 0.1,
            sync: false
          }
        },
        size: {
          value: 5,
          random: true,
          animation: {
            enable: false,
            speed: 10,
            minimumValue: 0.1,
            sync: false
          }
        },
        links: {
          enable: true,
          distance: 150,
          color: "#4bfa00",
          opacity: 0.7,
          width: 1
        },
        move: {
          enable: true,
          speed: 1,
          direction: "none",
          random: true,
          straight: false,
          outMode: "bounce",
          attract: {
            enable: false,
            rotateX: 600,
            rotateY: 1200
          }
        }
      },
      interactivity: {
        detectsOn: "canvas",
        events: {
          onHover: {
            enable: false,
            mode: "repulse"
          },
          onClick: {
            enable: true,
            mode: "push"
          },
          resize: false
        },
        modes: {
          grab: {
            distance: 400,
            links: {
              opacity: 1
            }
          },
          bubble: {
            distance: 400,
            size: 40,
            duration: 2,
            opacity: 0.8
          },
          repulse: {
            distance: 200
          },
          push: {
            quantity: 4
          },
          remove: {
            quantity: 2
          }
        }
      },
      detectRetina: true,
    })
</script>

</html>